<h1>{{ title }}</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let element">
            {{ element.id }}
        </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>日付</th>
        <td mat-cell *matCellDef="let element">
            {{ element.date }}
        </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>借方/貸方</th>
        <td mat-cell *matCellDef="let element">
            {{ element.type === "debit" ? "借方" : "貸方" }}
        </td>
    </ng-container>

    <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef>勘定科目</th>
        <td mat-cell *matCellDef="let element">{{ element.account }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>金額</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="partner">
        <th mat-header-cell *matHeaderCellDef>相手先</th>
        <td mat-cell *matCellDef="let element">{{ element.partner }}</td>
    </ng-container>

    <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
        class="header-row"
    ></tr>
    <tr
        mat-row
        *matRowDef="let row; let i = index; columns: displayedColumns"
        [ngClass]="{
            'double-line': i > 0 && dataSource[i - 1].id !== row.id
        }"
    ></tr>
</table>
