.date-and-partner {
    display: flex;
    justify-content: flex-start;
}

.date-and-partner .date {
    margin-right: 1em;
}

.journal-form {
    display: flex;
    justify-content: flex-start;
    padding: 1em 0;
}

.debit {
    padding-right: 5em;
}

.account-name {
    margin-right: 1em;
}

.amount {
    width: 10em;
}

.total-amount {
    text-align: end;
    padding-right: 3em;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;
}
